
html {
    height: 150px;
    width: 300px;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    padding: 20px 30px;
}

body label {
    font-size: 14px;
}

.sub-header {
    font-size: 13px;
}

.github-username {
    overflow: hidden;
}

.checkbox-list {
    display: block;
}

.checkbox-list span {
    margin-left: 6px;
    font-size: 12px;
}
