
.hidden {
    display: none;
}

.review-marker {
    position: absolute;
    top: 15px;
    right: -25px;
}

.sub-review-marker {
    top: inherit;
    margin-top: 6px;
}

.file > .file-header > .file-actions > a.btn-move-up {
    display: none;
}

.file ~ .file > .file-header > .file-actions > a.btn-move-up {
    display: inline-block;
}

.file:last-child > .file-header > .file-actions > a.btn-move-down {
    display: none;
}
